<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Con Imagen</title>
        <link th:href="@{/css/estilos.css}" rel="stylesheet"/>
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>

        <main class="contenedor-principal">
            <img src="/img/Banner..png" alt="Ejemplo" class="mi-clase-de-estilo"/>

            <section class="manual-de-uso">
                <h2>Guía de Uso del Sitio</h2>
                <div class="texto-manual-de-uso">
                    <p>
                        En la parte superior de la página, encontrarás un menú de navegación que te permite acceder a las diferentes secciones de la plataforma. Al hacer clic en las opciones del menú, se desplegarán las funciones específicas de cada apartado en las cuales vas a encontrar como agregar, eliminar, editar y visualizar. Por ejemplo, si seleccionas "Inventario", podrás gestionar el inventario, ver detalles, añadir nuevos o editar información existente.
                    </p>
                    <p>
                        Desde cada sección, podrás acceder a las vistas creadas para visualizar información detallada del sistema.
                    </p>
                </div>
            </section>
        </main>

        <footer th:replace="~{layout/plantilla :: footer}"/>
    </body>
</html>
