<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Con Imagen</title>
        <link th:href="@{/css/estilos.css}" rel="stylesheet"/>
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>

        <main class="contenedor-principal">
            <img src="/img/Banner.png" alt="Ejemplo" class="mi-clase-de-estilo"/>

            <section class="quienes-somos">
                <h2>¿Quiénes Somos?</h2>
                <div class="texto-quienes-somos">
                    <p>
                        Suma Store CR es una empresa emergente fundada a principios del 2024 en Atenas, con el objetivo de ofrecer productos de alta calidad a precios accesibles. Nuestra visión nace de la necesidad de cambiar la forma en que los consumidores acceden a productos premium, sin tener que pagar precios elevados. A través de la compra estratégica de pallets con productos de calidad superior, nos aseguramos de ofrecer artículos excepcionales a precios competitivos, destacándonos frente a otros outlets.
                    </p>
                    <p>
                        Desde su creación, Suma Store CR ha logrado consolidarse como una opción única en el mercado gracias a su estilo distintivo de ventas y a la atención constante que brindamos a nuestros clientes. El enfoque de la empresa está en la transparencia, la confianza y la calidad, buscando siempre la satisfacción de quienes eligen nuestros productos.
                    </p>
                </div>
            </section>
        </main>

        <footer th:replace="~{layout/plantilla :: footer}"/>
    </body>
</html>

