<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/plantilla :: head}">
    <title>Promociones - Vista</title>
</head>
<body>
<header th:replace="~{layout/plantilla :: header}" class="header"></header>
<section class="container py-5">
    <h1 class="mb-4">Promociones Activas</h1>

    <table class="table table-striped table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Nombre Promoción</th>
                <th>Descripción</th>
                <th>Fecha Inicio</th>
                <th>Fecha Fin</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="promocion : ${promociones}">
                <td th:text="${promocion.nombrePromocion}"></td>
                <td th:text="${promocion.descripcion}"></td>
                <td th:text="${#dates.format(promocion.fechaInicio, 'yyyy-MM-dd')}"></td>
                <td th:text="${#dates.format(promocion.fechaFin, 'yyyy-MM-dd')}"></td>
            </tr>
        </tbody>
    </table>
</section>
<footer th:replace="~{layout/plantilla :: footer}" class="footer"></footer>
</body>
</html>
