<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/plantilla :: head}">
    <title>Listado de Proveedores</title>
</head>
<body>
<header th:replace="~{layout/plantilla :: header}"/>

<section>
    <h1>Listado de Proveedores</h1>
    <div th:replace="proveedores/fragmentos :: botonesAgregar"></div>
    <div th:replace="proveedores/fragmentos :: listadoProveedores"></div>
</section>

<footer th:replace="~{layout/plantilla :: footer}"/>
</body>
</html>
